run = "hugo && miniserve public --index index.html"
entrypoint = "README.md"

[nix]
channel = "stable-23_11"

[deployment]
build = ["hugo"]
deploymentTarget = "static"
publicDir = "public"

[[ports]]
localPort = 1313
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 4000
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80
