run = "hugo server -b='/' --bind=0.0.0.0"
entrypoint = "README.md"
modules = ["nodejs-20:v8-20230920-bd784b9", "go-1.21:v2-20231201-3b22c78"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 1313
externalPort = 80
