name: Update modules

# Controls when the workflow will run
on:
  schedule:
    # Update theme automatically everyday at 00:00 UTC
    - cron: "0 0 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Update-modules:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          # use the environment variable HUGO_VERSION as the hugo version, if not set, use `latest`.
          hugo-version: ${{ vars.HUGO_VERSION || 'latest' }}
          extended: true

      - name: Update modules
        run: |
          # hugo mod get -u github.com/hugo-fixit/FixIt@v0.4.0-alpha.2
          hugo mod get -u github.com/hugo-fixit/fixit-bundle@latest
          hugo mod tidy
          hugo mod graph

      - name: Generate hugo-fixit component list
        uses: hugo-fixit/action-component-list@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          comment_tag_name: HUGO_FIXIT_COMPONENTS
          readme_path: README.md
          template: "- [{$repo.name}]({$repo.html_url})\\\n {$repo.description}"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: ':arrow_up: Chore(modules): update modules version'
          commit_author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
